<% action = (user.persisted? ? user_url(user) : users_url) %>

<form action="<%= action %>" method="post" accept-charset="utf-8">
  <input name="authenticity_token"
  type="hidden"
  value= "<%= form_authenticity_token %>">

  <label for="user_user_name">Username:</label>
  <input id="user_user_name"
  type="text"
  name="user[username]"><br>

  <label for="user_password">Password:</label>
  <input id="user_password"
  type="password"
  name="user[password]"><br>

  <p><input type="submit"></p>
</form>